* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
    background-color: rgb(104, 177, 153);
    margin: 0 auto;
    width: 70%;
    padding: 20px;
}

h1 {
    padding: 25px;
    text-align: center;
}

.product-form {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.product-form input, .product-form button {
    width: 50%;
    padding: 10px;
    margin: 5px;
}

.product-form button {
    display: block;
    color: whitesmoke;
    background-color: rgb(13, 41, 125);
    padding: 10px;
    margin: 15px auto;
    border-radius: 15px;
    font-size: 16px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}

.product-box {
    border: 3px solid grey;
    background-color: whitesmoke;
    border-radius: 15px;
    font-size: 18px;
    padding: 20px;
}

.product-box h2 {
    margin: 15px auto;
    text-align: center;
}

.product-box p {
    margin-bottom: 5px;
}

.delete-button {
    display: block;
    color: whitesmoke;
    background-color: rgb(125, 13, 13);
    padding: 10px;
    margin: 15px auto;
    border-radius: 15px;
    font-size: 16px;
}
