<header>
  <nav class="navbar">
    <div class="navbar-left">
      <a href="/" class="logo">MiTienda</a>
    </div>
    <div class="navbar-right">
      <a href="/carts/{{cartId}}" class="cart-link" title="Ver carrito">
        🛒
      </a>
    </div>
  </nav>
</header>